
.homepage{
  position: relative;
  text-align: center;
  color: #000000;
}

.homecontainer p {
  margin: 0;
  padding-top: 20px;
}

.bottomNavBar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
}

.roomFields{
  position: relative;
  padding: 10px;
}

.roomFields input {
  border: 2px solid #ccc;
  padding: 10px 20px;
  border-radius: 10px;
}

.room {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  display: grid;
  gap: 10px;
  justify-items: center;
}

.roombtn {
  background-color: #F5EFE8;
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.generateBtn{
 position: absolute;
 padding-left: 3px;
 padding-top: 5px;
}

.generateCodebtn {
  padding: 10px 50px;
  background-color: #009963;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}